<div>
    <form [formGroup]="loginForm" class="col-12 col-md-6" (submit)="onSubmit()">
        <label class="form-label">Email</label>
        <input class="form-control" formControlName="email" type="text">

        <!-- Mail error-->
        <p 
        class="error" 
        *ngIf="loginForm.touched &&
        loginForm.controls['email'].errors?.['required']">Email required</p>

        <p class="error" 
        *ngIf="loginForm.touched && 
        loginForm.controls['email'].errors?.['email']">Please enter a valid email</p>

        <label class="form-label">Password</label>
        <input class="form-control" formControlName="password" type="password">

        <!-- Password error-->
        <p class="error" 
        *ngIf="loginForm.controls['password'].dirty && 
              loginForm.touched && 
              loginForm.controls['password'].hasError('required')">Password required</p>

        <button type="submit">Login</button>
    </form>
</div>
