<div class="row justify-content-center">
    <form *ngIf="userSvc.isAuth()" [formGroup]="loginForm" class="col-12 col-md-6" (submit)="onSubmit()">
        <h1>LOGIN</h1>
        <label class="form-label">EMAIL</label>
        <input class="form-control" formControlName="email" type="text">

        <!-- Mail error-->
        <p 
        class="error" 
        *ngIf="loginForm.touched &&
        loginForm.controls['email'].errors?.['required']">Email required</p>

        <p class="error" 
        *ngIf="loginForm.touched && 
        loginForm.controls['email'].errors?.['email']">Please enter a valid email</p>

        <label class="form-label">PASSWORD</label>
        <input class="form-control" formControlName="password" type="password">

        <!-- Password error-->
        <p class="error" 
        *ngIf="loginForm.controls['password'].dirty && 
              loginForm.touched && 
              loginForm.controls['password'].hasError('required')">Password required</p>

        <div class="d-flex justify-content-right">
            <button type="submit">Login</button>
        </div>
    </form>
</div>
