<form [formGroup]="followForm" (submit)="onSubmit()">
    <label class="form-label">Title</label>
    <input formControlName="title">

    <label class="form-label">Media type</label>
    <select formControlName="mediaType">
        <option value=""></option>
        <option value="movie">Movie</option>
        <option value="tv">TV Show</option>
    </select>

    <label class="form-label">Viewing Status</label>
    <select formControlName="viewingStatus">
        <option value=""></option>
        <option value="Not seen">Not seen</option>
        <option value="Ongoing">Ongoing</option>
        <option value="Viewed">Viewed</option>
    </select>

    <label class="form-label">My score</label>
    <select formControlName="myScore">
        <option value=""></option>
        <option value="0">Shitty</option>
        <option value="1">Bad</option>
        <option value="2">Tolerable</option>
        <option value="3">Ordinary</option>
        <option value="4">Good</option>
        <option value="5">Very good</option>
        <option value="6">Not rated</option>
    </select>

    <button type="submit">Load</button>
</form>



