<div class="searchbar">
    <div class="search">
        <div class="subsearch">
            <!--Searchbar input-->
            <input #field (keyup)="onKeyupInput(field.value)" type="text" class="form-control" placeholder="Search for a tv show...">
            
            <!--Display list of movies in searchbar-->
            <ul *ngIf="searchedTvs.length>0">
                <li [routerLink]="['/list-tv-single-tmdb', tv.externalId]" *ngFor="let tv of searchedTvs">
                    {{ tv.name }}
                </li>
            </ul>
        </div>
    </div>
</div>
