<div class="page">
    <header>
        <div class="content">
            <nav class="navbar">
                <div class="container-fluid">
                    <a routerLink="/list" class="navbar-brand-home">MY MEDIA MONITOR</a>
                    <div class="navbar-right">
                        <ul>
                            <li>
                                <a *ngIf="!userSvc.isAuth()" routerLink="/login" class="login">Login</a>
                                <a *ngIf="userSvc.isAuth()" (click)="userSvc.logout()" class="logout">Logout</a>
                            </li>
                            <pre>     </pre>
                            <li>
                                <a *ngIf="!userSvc.isAuth()" routerLink="/register" class="register">Register</a>
                            </li>
                        </ul>

                    </div>
                </div>
            </nav>
        </div>
    </header>

    <main>
        <div class="container-fluid">
            <router-outlet></router-outlet>
        </div>
    </main>
</div>

<footer>
    <div class="container-fluid" class="footer">
        <h1>MY MEDIA MONITOR <span *ngIf="!userSvc.isAuth()">definitely better when login, right?</span></h1>
        <pre>
        What the hell with my videos? Nowadays with proliferation of TV shows and movies, it becomes complicated to know what we have already seen or not. Purpose of this application is to remind us of where we are in our viewings and to remind us of what we have informed to watch 
        later. For this, users will be able to enter a new movie or a new TV show and update status of these elements as they arise. Enjoy!

        HWL & BS Team
        </pre>
    </div>
</footer>


