<div>
    <div class="column-wrapper">
        <div class="content-wrapper">
            <div class="follow-form-column">
                <div class="follow-form-panel">
                    <h3 class="follow-form-title">Follow my media</h3>
                    <!--follow-form component to request media from Video App base-->
                    <app-follow-form></app-follow-form>
                </div>
            </div>
            <div class="list-column">
                <div class="list-panel">
                    <div class="media-results">
                        <div class="results">
                            <div class="card">
                                <div class="wrapper">
                                    <div class="container-fluid details">
                                        <div class="first-line">
                                            <h2 class="title">{{ movie.title }}</h2>
                                            <h2 class="status"><span><pre>Status : </pre></span>{{movie.viewingStatus}}</h2>                                                                                     
                                            <h2 class="my-score"><span><pre>My score : </pre></span>{{movie.myScore}}<span>/5</span></h2>
                                            <h2 class="mediatype">Movie</h2>
                                        </div>
                                        <div class="row align-items-start">
                                            <div class="col">
                                                <div (click)="onClick(movie)" class="card-form">
                                                    <app-card-form-movie-follow></app-card-form-movie-follow>
                                                </div>
                                            </div>
                                        </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>



