<!--searchbar component to select media from external API TMDB-->
<app-searchbar></app-searchbar>

<!--list component HTML view to display media from external API TMDB or Video App base-->
<div>
    <div class="column-wrapper">
        <div class="content-wrapper">
            <div class="follow-form-column">
                <div class="follow-form-panel">
                    <h3 class="follow-form-title">Follow my media</h3>
                    <!--follow-form component to request media from Video App base-->
                    <app-follow-form></app-follow-form>
                    <p class="tip">Better get connecting, right?</p>
                </div>
            </div>
            <div class="list-column">
                <div class="list-panel">
                    <div class="media-results">
                        <div class="results">
                            <div id="" class="card">
                                <div class="wrapper">
                                    <div class="image">
                                        <div class="poster">
                                            <img loading="lazy" class="poster" src="" alt="">
                                        </div>
                                    </div>
                                    <div class="container-fluid details">
                                        <div class="row align-items-start">
                                            <div class="col">
                                                <div class="title">
                                                    <h2>title!</h2>
                                                </div>
                                            </div>
                                            <div class="col">
                                                <div class="status">
                                                    <h2>status!</h2>
                                                </div>
                                                <div class="my-score">
                                                    <h2>score!</h2>
                                                </div>
                                            </div>
                                            <div class="col">
                                                <div class="seasons-number">
                                                    <h2>number of seasons!</h2>
                                                </div>
                                                <div class="episodes-number">
                                                    <h2>number of episodes!</h2>
                                                </div>
                                            </div>
                                            <div class="col">
                                                <div class="mediatype">
                                                    <h2>mediatype!</h2>
                                                </div>
                                                <div class="genre">
                                                    <h2>genre!</h2>
                                                </div>
                                                <div class="release-date">
                                                    <h2>release date!</h2>
                                                </div>
                                                <div class="vote-average">
                                                    <h2>vote average!</h2>
                                                </div>
                                                <div class="ongoing-season">
                                                    <h2>ongoing season!</h2>
                                                </div>
                                                <div class="ongoing-episode">
                                                    <h2>ongoing episode!</h2>
                                                </div>
                                            </div>
                                            <div class="col">
                                                <div class="card-form">
                                                    <app-card-form></app-card-form>
                                                </div>
                                            </div>
                                        </div>
                                    <div class="container-fluid">
                                        <div class="overview">
                                            <h2>overview : aaaaaaaaaaaaaaaaa
                                                ddddddddddddddddd
                                                eeeeeeeeeeeeeeeee
                                                fffffffffffffffffffffffffffffff
                                                ggggggggggg
                                            </h2>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>


                    </div>
                </div>
            </div>
        </div>

    </div>

</div>





