<div class="searchbar">
    <div class="search">
        <div class="subsearch">

            <input #field (keyup)="onKeyupInput(field.value)" type="text" class="form-control" placeholder="Search for a movie...">
            
            <ul *ngIf="searchedMovies.length>0">
                <li [routerLink]="['/list-movie-multi-tmdb']" class="all-movies">All movies that match</li>
                <li [routerLink]="['/list-movie-single-tmdb', movie.externalId]" *ngFor="let movie of searchedMovies">
                    {{ movie.title }}
                </li>
            </ul>
        </div>
    </div>
</div>


