<div>
    <form [formGroup]="registerForm" class="col-12 col-md-6" (submit)="onSubmit()">
        <label class="form-label">Email</label>
        <input class="form-control" formControlName="email" type="text">

        <!-- Mail error-->
        <p 
        class="error" 
        *ngIf="registerForm.touched &&
        registerForm.controls['email'].errors?.['required']">Email required</p>

        <p class="error" 
        *ngIf="registerForm.touched && 
        registerForm.controls['email'].errors?.['email']">Please enter a valid email</p>

        <label class="form-label">Password</label>
        <input class="form-control" formControlName="password" type="password">

        <!-- Password error-->
        <p class="error" 
        *ngIf="registerForm.controls['password'].dirty && 
              registerForm.touched && 
              registerForm.controls['password'].hasError('required')">Password required</p>
        <button type="submit">Register</button>
    </form>
</div>