/*Import Boostrap CSS*/
@import '~bootstrap/dist/css/bootstrap.min.css';

/*Responsive*/
@media screen and (min-width:768px) and (max-width: 1024px) {
  div {
    width:100%;
  }
  div.card{
    width: 47%;
  }
}

@media screen and (max-width: 767px) {
  div {
    width:100%;
  }
  div.card{
    width: 100%;
  }
}

/*Variables*/
html{
  --darkNightBlue : #032541;
  --lightGreyBorder : #e3e3e3;
  --lightGreyBackground : #d9d9d9;
  --tipColor:#666;
  --dateColor : #999;
  --fieldColor : #fce4d6;
  --maxPageWidth: 1700px;
  --borderRadius: 8px;
  --buttonColor: #f8cbad
}

/*General CSS style of application*/
html{
  display:block;
  width:100%;
  height:100%;
  font-size:100%;
  font-family: sans-serif;
}

body {
  margin:0;
  padding:0;
  display:flex;
  flex-direction: column;
  min-height: 100%;
  height: auto;
  background: rgb(255 255 255);
  color: rgb(0, 0, 0);
  font-family: 'Source Sans Pro', Arial, sans-serif;
  font-size: 1em;
  width: 100%;
  box-sizing:border-box;

}



/*html, body { height: calc(100vh - 60px); }*/


