<div>
    <div class="column-wrapper">
        <div class="content-wrapper">
            <div class="follow-form-column">
                <div class="follow-form-panel">
                    <h3 class="follow-form-title">Follow my media</h3>
                    <!--follow-form component to request media from Video App base-->
                    <app-follow-form></app-follow-form>
                </div>
            </div>
            <div class="list-column">
                <div class="list-panel">
                    <div class="media-results">
                        <div class="results">
                            <div [routerLink]="['/list-tv-single-videoapp', tv.externalId]" *ngFor="let tv of tvs" class="card">
                                <div class="wrapper">
                                    <div class="image">
                                        <div class="poster">
                                            <img [src]="getImgFullUrl(tv.posterPath)" alt="Picture">
                                        </div>
                                    </div>
                                    <div class="container-fluid details">
                                        <div class="first-line">
                                            <h2 class="title">{{ tv.name }}</h2>
                                            <h2 class="release-date">{{tv.firstAirDate | date: 'longDate'}}</h2>
                                            <h2 class="genre"></h2>
                                            <h2 class="mediatype">TV</h2>
                                        </div>
                                        <h2 class="overview">{{tv.overview}}</h2>
                                        <div class="row align-items-start">
                                            <div class="col">
                                                <h2 class="seasons-number"></h2>
                                                <h2 class="episodes-number"></h2>
                                                <h2 class="vote-average">{{tv.voteAverage | number:'1.0-0'}}<span>/10</span></h2>
                                            </div>
                                            <div class="col">
                                                <h2 class="status">{{tv.viewingStatus}}</h2>
                                                <h2 class="my-score"><span>/My score : </span>{{tv.myScore}}</h2>
                                                <h2 class="ongoing-season"><span>My season : </span>{{tv.ongoingSeason}}</h2>
                                                <h2 class="ongoing-episode"><span>My episode</span>{{tv.ongoingEpisode}}</h2>
                                            </div>
                                            <div class="col">
                                                <div class="card-form">
                                                </div>
                                            </div>
                                        </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


